.Accordion {
  position: relative;
  margin-top: 2px;
}

// downward triangle in pseudo-element
.accordion_button:after {
  content: "";
  position: absolute;
  top:0;right:0;bottom:0;
  margin-top: 20px;
  margin-right: .75em;
  width: 16px;
  height: 8px;
  // SVG polygoon triangle of 16px wide and 8px tall:
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(31,127,142)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;
}

// swap downward triangle with upward triangle when active
.accordion_header.is-active .accordion_button:after {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(255,255,255)' points='8,0 16,12 0,12'/%3E%3C/svg%3E") no-repeat;
}

.accordion_button {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  // accordion_header should be 48px hight
  padding-top: .608em;
  padding-bottom: .408em;
  padding-left: 1em;
  color: adjust-color($dark_blue-cyan, $lightness: 15%);
  background-color: $light01;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all .4s;
}

.accordion_header.is-active .accordion_button {
  background-color: $light03;
  color: #fff;
  font-weight: 300;
}

.accordion_content {
  overflow: hidden;
  transition: .2s max-height;
  will-change: max-height;
  background-color: adjust-color($light_blue-cyan, $lightness: 36%);
}

.Accordion.is-hidden .accordion_content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.accordion_label {
  margin: 0 0 0 2.5em;
  font-size: 1.125em;
  padding: 1.5em 0 .5em;
}

.accordion_label:focus {
  outline: none;
}


// browsers which dont suport max-height ondersteunen: 2.5% worldwide, will not get a nice transition http://caniuse.com/#feat=minmaxwh
.core .accordion_content {
  display: none;
}

.no-js.core .accordion_content,
.core .accordion_content.is-active {
  display: block;
}

