*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  height: 100%;
  background-color: #cbdee6; }

body {
  font: 100%/1.5 "Fira Sans", AvenirNext-Regular, "Segoe Ui", "Lucida Grande", Verdana, sans-serif;
  box-sizing: inherit;
  margin: 0;
  color: #182c35;
  font-weight: 400;
  min-height: 100%;
  box-sizing: border-box; }

h1 {
  font-size: 2.5em;
  padding: .125em 0 .25em .5em; }

h1, h3 {
  font-family: "Fira Sans", AvenirNextCondensed-Demibold, "Segoe UI", "Trebuchet MS", Tahoma, sans-serif;
  margin: 0;
  color: #5e7b87;
  font-weight: 500; }

img,
svg {
  border: 0;
  max-width: 100%;
  height: auto; }

a {
  color: #2394a4; }

.footer {
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center; }

.footer .small a {
  text-decoration: none;
  display: inline-block;
  padding: .25em; }

.footer .small a:hover {
  background-color: #5ec5ce;
  color: #fff; }

.container {
  max-width: 40em;
  margin: 0 auto;
  overflow: auto;
  background-color: #fff; }

.main {
  min-height: calc(100vh - 13em);
  background-color: #fff;
  padding: 2em 3em; }

.header {
  min-height: 5em;
  padding-left: 2em; }

.subfooter {
  min-height: 2em; }

.footer {
  min-height: 3em; }

.subfooter {
  padding-top: 3em; }

.form {
  max-width: 30em;
  padding: 1.5em 3em; }

.form label {
  padding-left: .125em;
  color: #42758a; }

.form p {
  margin: 0;
  padding: 0; }

.form input[type="text"],
.form input[type="password"] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-appearance: none;
  background: #f4f8fa;
  border: 1px solid;
  border-color: #cbdee6;
  color: #182c35;
  outline: 0;
  font-size: 24px;
  width: 100%;
  padding: .125em .25em;
  margin: 2px 6px 16px 0;
  text-align: left;
  height: 1.8em;
  vertical-align: top;
  font-family: inherit; }
  .form input[type="text"][disabled],
  .form input[type="password"][disabled] {
    background-color: #eee; }

.login-submit {
  float: right; }

.button,
.form input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  outline: 0;
  margin: 0;
  padding: .5em .75em;
  background: #119ad4;
  border: 1px solid #0f89bc;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 1px #063346;
  letter-spacing: 1px;
  overflow: visible;
  vertical-align: top;
  width: auto;
  border-width: 1px;
  border-style: solid;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: inset 0 1px 0 rgba(89, 196, 242, 0.5), 0 1px 0 rgba(24, 44, 53, 0.15);
  text-decoration: none;
  border-radius: 4px; }
  .button:hover,
  .form input[type="submit"]:hover {
    background: #0f89bc;
    text-decoration: none; }
  .button:active,
  .form input[type="submit"]:active {
    background: #0d78a5;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    border-color: #063346; }
  .button::-moz-focus-inner,
  .form input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0; }

.login-remember {
  display: inline-block; }

.accordion h3 {
  font-size: 1.25em;
  padding-top: .35em;
  padding-bottom: .175em;
  padding-left: 1em;
  color: #165b65;
  background-color: #dce9ee;
  border-left: 1px solid transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #b5c3c9;
  cursor: pointer;
  transition: all .4s;
  position: relative; }

.accordion h3:nth-of-type(even) {
  background-color: #edf4f7;
  border-top-color: #fff;
  border-bottom-color: #d2dbdf; }

.accordion h3:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 16px;
  margin-right: 1.1em;
  width: .8em;
  height: 12px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(31,127,142)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat; }

.accordion .toggle-active,
.accordion h3:nth-of-type(even).toggle-active {
  background-color: #79b8d2;
  color: #fff;
  text-shadow: 1px 1px 3px #265c72;
  border-top-color: white;
  border-bottom-color: #649cb4;
  font-weight: 300; }

.accordion .toggle-active:after {
  background: transparent;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 12px; }

.accordion .toggle-active:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 21px;
  margin-right: 1.1em;
  width: .8em;
  height: 2px;
  background-color: #fff; }

.accordion > div {
  max-height: 999px;
  overflow: visible;
  transition: max-height .3s; }

.accordion .closed {
  max-height: 0;
  overflow: hidden; }

.core .closed {
  display: none; }

.accordion_inner {
  background-color: #ebf8f9; }

.contact-list {
  margin: 0;
  padding: .5em 2.5em 1em;
  list-style: none; }

.contact-list li {
  position: relative;
  margin: 0 0 0 -.75em;
  padding: 0 0 0 1em; }

.content-contact {
  padding-top: 1em; }

.content-contact p {
  margin: 0;
  padding: .5em 3em 1.5em; }

.icon-svg-use {
  position: absolute;
  top: .27em;
  left: -.5em;
  height: 16px;
  width: 16px;
  fill: #3aa5bf;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
